/* import */

@import url("https://fonts.cdnfonts.com/css/courgette");
@import url('https://fonts.cdnfonts.com/css/hind-jalandhar');
@import url("https://fonts.cdnfonts.com/css/inter");

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* fin reset CSS */

/* *************************************************************************************************************************** */

/* start Variables */

:root {
  --primary-color: #2C3138;
  --primary-light: #C1E39E;
  /* --primary-dark: #82514e; */
  --secondary-color: #78504F;
  --secondary-light: #D9D9D9;
  /* --secondary-dark: #14205a; */
  --green: #31583F;
  --white: #FFFFFF;
}

/* end Variables / Import */

/* *************************************************************************************************************************** */

/* start Version Desktop */

/* général */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courgette", sans-serif;
}

span {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "hind-jalandhar", sans-serif;
}

/* message */

/* 
.message {
  position: absolute;
  top: 350px;
  font-size: 1em;
  display: block;
} */

/* .erreur {
  position: absolute;
  top: 400px;
  font-size: 1em;
  display: block;
} */

.erreur ul {
  list-style: none;
}

.erreur {
  position: absolute;
  left: 8px;
  top: 363px;
  padding: 3px 20px;
  font-size: 1em;
  border-radius: 5px;
  display: block;
  background-color: rgb(237, 210, 229);
  color: rgb(203, 28, 128);
}

/* .container_message{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.message {
  position: absolute;
  padding: 2px 20px 4px 20px;
  top: 336px;
  font-size: 1em;
  display: block;
  background-color: var(--green);
  color: var(--white);
  border-radius: 3px;
}

.nArticles {
  position: absolute;
  padding: 2px 5px 4px 5px;
  top: 30px;
  right: 15px;
  font-size: 0.7em;
  display: block;
  background-color: var(--green);
  color: var(--white);
  border-radius: 3px;
  z-index: 10;
}


.messagePanierVide {
  position: absolute;
  padding: 2px 20px;
  top: 363px;
  font-size: 1em;
  border-radius: 5px;
  display: block;
  background-color: var(--secondary-light);
  color: var(--secondary-color);
}


/* Fin message */


/* *************************************************************************************************************************** */

/* header */
header {
  padding: 10px 0 10px 10px;
  margin: 0 !important;
  width: 100%;
  height: 180px;
  background-color: var(--primary-light);
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

header img {
  width: 90px;
  height: 87px;
  z-index: 10;
}

#lafleur {
  width: 100%;
  padding-left: 2.7vw;
  padding-top: 15px;
}

header h1 {
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: var(--green);
  z-index: 0;
}

#lafleur h1:hover {
  transform: translateY(5px);
  color: var(--primary-color);

}

#img_logo:hover {
  transform: scale(1.1, 1.1);
}

#nav_right {
  padding-right: 20px;
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  font-size: 0.8em;

}

#loop {
  width: 20px;
  height: 20px;
  margin-right: -10px;
}

#panier_marron {
  width: 30px;
  height: 28px;
  margin-bottom: 5px;
}

#div_connexion {
  position: absolute;
  padding: 1px 10px;
  top: 5px;
  right: 15px;
  font-size: 0.7em;
  display: block;
  background-color: var(--green);
  color: var(--secondary-light);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form_mon_compte {
  margin: 0;
  padding: 0;

}

#btn_mon_compte {
  margin: 0 0 0 10px;
  padding: 0;
  width: 70px;
  height: 21px;
  background-color: var(--primary-light);
  color: var(--primary-color);
  font-size: 11px;
  border: none;
  border-radius: 3px;


}


/* Fin header */

/* *************************************************************************************************************************** */

/* navigation */
#div_nav {
  display: none;
}

#navigation {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nav_bar {
  position: absolute;

  top: -75px;
  height: 58px;
  padding: 20px;
  padding-right: 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  color: var(--white);
  font-size: 20px;

}

#nav_bar>a {
  margin-left: 30px;
}

#nav_bar>a:hover {
  color: var(--secondary-light);
  transform: scale(1.1, 1.1);
}

.ligne_banniere {
  width: 100%;
  height: 3px;
  background-color: var(--green);
  margin-bottom: 4px;
}

.image_banniere {
  width: 100%;
  height: 150px;
  margin-bottom: 0;
  margin-bottom: 50px;
}

.banniere {
  width: 100%;
  height: 150px;
  color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  /* background-image: url(../assets/img/amour/baniere_amour.jpg); */
  margin-bottom: 20px;
}

.banniere h1:hover {
  color: salmon !important;
}

#container_recherche_couleur {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 0px;
}

#recherche_couleur {
  /* width:400px; */
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  /* background-color: var(--primary-light); */
  border-radius: 5px;
}


/* #rechercher_par_couleur {
  width: 170px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
  font-size: 14px;
} */

#couleur {
  width: 195px;
  padding: 3px 10px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 0px;
  margin-top: 4px;

}

.option_couleur {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;

}

/* #form_couleur{
  width: 150px;
  height: 25px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

} */


#btn_par_couleur {
  margin: 0;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-light);

}





/* .rechercher_couleur {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#recherche_couleur1 {
  background-color: red;
}

#recherche_couleur2 {
  background-color: white;
  border: 1px solid var(--primary-light);

}

#recherche_couleur3 {
  background-color: violet;
}

#recherche_couleur4 {
  background-color: yellow;
}

#recherche_couleur5 {
  background-color: var(--primary-light);
}

#recherche_couleur6 {
  background-color: orange;
}
#recherche_couleur7 {
  background-color: lightskyblue;
} */

/* Fin navigation */

/* *************************************************************************************************************************** */

/* Footer */

#topBtn {

  display: none;
  position: fixed;
  width: 50px;
  bottom: 10px;
  right: 3px;
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#topBtn:hover {
  transform: scale(1, 1.2);
}

#btn_scrole {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px 30px;
}

#devise {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  color: var(--primary-color);
  padding: 0 10px;
}

#footer_container {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#a_propos,
#nous_contacter {
  width: 300px;
  height: 170px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--primary-color);
}

.propos {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

#reseaux_sociaux {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

#logo_reseaux_sociaux {
  width: 244px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--white);
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#logo_reseaux_sociaux img {
  width: 35px;
}

#livraison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 30px;
}

.contacter {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#telephone {
  width: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.numero_telephone {
  margin-top: 10px;
}


/* Fin Footer */
/* *************************************************************************************************************************** */
/* Début_Page d'erreur */

.body_error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#message_error {
  width: 650px;
  height: 400px;
  background-image: url(../assets/img/error_404.jpg);
  background-size: cover;
  margin: 20px;
  padding-bottom: 50px;
  padding-top: 70px;
  color: rgb(170, 65, 65);
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  box-sizing: content-box;
}

.go_back {
  margin-top: 130px !important;
}

.go_back a {
  text-decoration: underline;
}

/* Fin_Page d'erreur */
/* *************************************************************************************************************************** */

/* Accueil */
#container_all_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#container_all_article_repture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0.5;
}

#container_article {
  /* width: 270px; */
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
}

#image_article {
  width: 260px;
  height: 260px;

  border: 1px solid var(--primary-light);

}

#description_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  color: var(--green);
  font-weight: bold;
}

#container_article_panier {
  /* max-width: 100%; */
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid var(--green);

  /* display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 3fr; */
}

#article_panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 10px;
}

#image_article_panier {
  width: 160px;
  height: 160px;


  border: 1px solid var(--primary-light);

}

#description_article_panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  color: var(--green);
  font-weight: bold;
  font-size: 12px;
}

#prix_panier {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  font-weight: normal;

}

#prix_panier img {
  width: 25px;
  margin-top: 5px;
  margin-left: 10px;
}

#prix_panier>a {
  /* margin-left: 40px; */
  margin-bottom: 0px;
}

.panier_delete {
  width: 15px;
  margin-left: 10px;
}

/* Fin Accueil */

/* *************************************************************************************************************************** */
/*  Connexion */
#connexion,
#compte,
#apropos,
.apropos,
#livraison,
#panier,
#container_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container_connexion {
  width: 90%;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn_se_connecter {
  width: 125px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-light);
  border: none;
  color: var(--green);
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn_valide_livraison,
.btn_valide_facturation {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-light);
  border: none;
  color: var(--green);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.btn_annuler_livraison,
.btn_annuler_facturation,
.btn_annuler_payement {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--secondary-light);
  border: none;
  color: var(--green);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#container_inscription {
  width: 90%;
  margin-top: 5px;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #F7F9F3;
}

.message_inscription {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 40px 0px;
}

.container_formaulaire_inscription {
  width: 90%;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#container_formaulaire_inscription_left,
#container_formaulaire_inscription_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#formaulaire_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_connexion {
  width: 180px;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-size: 16px;
}

.label_livraison {
  width: 180px;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-size: 16px;
}

.input_connexion {
  width: 250px;
  height: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 5px;

}

.input_identification {
  border: 1px solid var(--primary-light);
}

.container_btn_inscription {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 130px;
}

.container_btn_facturation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-left: 130px; */
}

/* #btn_valide_inscription {
  width: 80px;
  height: 25px;
  margin-right: 100px;
}

#btn_annuler_inscription {
  width: 80px;
  height: 25px;
  background-color: var(--secondary-light);
} */

/*  Fin Connexion */

/* *************************************************************************************************************************** */
/*  Compte client */
#container_compte,
#container_apropos,
#container_livraison {
  width: 95%;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.label_livraison_progamme {
  font-size: 14px;
  margin-right: 2px;
}

.titres_compte {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--secondary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}

#container_info_compte {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.info_compte {
  width: 300px;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.8;
}

.info_compte_info {
  width: 110px;
  font-weight: bold;
}


.info_compte_ligne {
  display: flex;
}

#ligne_info_compte {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  margin: 20px;
}

#container_modifier_info {
  /* width: 100%; */
  border: 1px solid var(--primary-light);
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modifier_info {
  height: 32px;
  background-color: var(--secondary-light);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
}

.modifier_info_input {
  padding-left: 5px;
  width: 230px;
  height: 30px;
  border: 1px solid var(--green) !important;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 5px;
  /* background-color: var(--secondary-light); */
  border: none;
}

.label_modif {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.label_modif input {
  width: 180px;
  height: 25px;
  font-size: 13px;
}

.btn_modif {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#btn_valide_modif {
  width: 80px;
  height: 30px;
  background-color: var(--primary-light);
  color: var(--primary-color);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
}

#btn_annule_modif {
  width: 80px;
  height: 30px;
  background-color: var(--secondary-light);
  color: var(--primary-color);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
}

.table_commande {
  width: 100%;
  margin-bottom: 50px;
}

.table_commande_ligne {
  padding: 10px;
  text-align: center;
}

.table_commande_entete {
  font-weight: bold;
  background-color: var(--secondary-light);
}

.payer_derniere {
  background-color: salmon;
  padding: 10px;
  border-radius: 5px;
}

.btn_envoyer_modification {
  width: 100px;
  height: 30px;
  margin-right: 0px;
  margin-bottom: 20px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_annuler_modification {
  width: 100px;
  height: 30px;
  background-color: var(--secondary-light);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Fin Compte client */

/* *************************************************************************************************************************** */
/*  Nous contacter */




.container_contacte {
  margin-top: 100px;
}

#formulaire_contact {
  width: 90%;
}

textarea#message_contacte {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 20px;
  resize: vertical;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 6px;
}




.test {
  margin-left: 11vw;
}

.message_contacte_label {
  width: 90%;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#container_btn_contacte {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.btn_envoyer {
  width: 100px;
  height: 30px;
  margin-right: 90px;
  margin-bottom: 20px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_annuler_envoyer {
  width: 100px;

  height: 30px;
  background-color: var(--secondary-light);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Fin Nous contacter */
/* *************************************************************************************************************************** */
/*  À propos */


.titres_apropos {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--secondary-light);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;

}


.qui_somme_nous {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  padding: 30px 40px;
}

.notre_engagement {
  font-size: 20px;
  line-height: 2;
  font-family: "hind-jalandhar", sans-serif;
}



.myIframe {
  width: 70vw;
  height: 500px;
  border: 5px ridge var(--primary-color);
  margin-bottom: 50px;
}

.zone_livraison {
  width: 100%;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Fin À propos */
/* *************************************************************************************************************************** */
/*  Panier */

#container_panier {
  width: 95%;
  background-color: #F7F9F3;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px 0px;
}

#valide_mon_panier {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px;
}

.valide_articles {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F7F9F3;
  padding-top: 0;

}

#modifier_panier {
  display: none;
  top: 1020px;
  left: 310px;
  width: 150px;
  height: 28px;
  padding: 5px;
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;

}

.container_paiement {
  width: 95%;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0px;
  border-radius: 10px;
  opacity: 100%;
  box-shadow: 2px 2px 2px 2px var(--green);
  /* pointer-events: none; */
}

.container_paiement p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.cadre_paiement {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #c1e39e;
  padding: 10px;
  margin-bottom: 20px;
  /* pointer-events: none; */
  /* opacity: 0.4; */

}

.adresse_facturation {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  color: var(--secondary-light);
  background-color: var(--green);
  text-align: center;
  font-size: 12px !important;

}

.info_paiement {
  width: 95%;
  padding: 10px 0px;
  /* padding: 10px 30px; */
  border-radius: 5px;
  text-align: center;
  background-color: var(--green);
  margin-bottom: 0;
  font-size: 15px !important;
  color: var(--secondary-light);
}

.somme_total {
  background-color: var(--secondary-light);
}

.je_valide {
  background-color: var(--primary-light);
  cursor: pointer;

}

.btn_valide_payement {
  width: 190px;
  margin-top: 35px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_loto {
  width: 100%;
  /* background-color: var(--primary-light); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

}

.container_loto h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.container_loto p {
  font-size: 14px;
  background-color: var(--green);
  padding: 15px;
  border-radius: 5px;
  color: var(--white);

}

.a_jour {
  width: 60%;
  background-color: var(--secondary-light);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 100px;
  line-height: 1.5;
}

.a_jour_retour {
  background-color: var(--primary-light);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 100px;
}

/*  Fin Panier */

/* *************************************************************************************************************************** */
/*  Loto */
.bd {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 266px;
}

.slot-wrapper {
  border: 1px solid #000000;
}

.slot {
  background: url("../assets/img/reel_normal.png") repeat-y;
  /*Taken from http://www.swish-designs.co.uk*/
  width: 86px;
  height: 70px;
  float: left;
  border: 1px solid #000;
  background-position: 0 4px;
}

.motion {
  background: url("../assets/img/reel_blur.png") repeat-y;
  /*Taken from http://www.swish-designs.co.uk*/
}

button {
  display: block;
  background-color: var(--primary-light);
  width: 150px;
  padding: 10px;
  height: 43px;
  margin: 20px 60px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
}

.credits {
  font-size: 15px;
  margin-top: 20px;
}

.credits .browsers {
  font-style: italic;
  font-size: 14px;
  color: #777;
  margin-top: 4px;
}

.clear {
  clear: both;
}



/*  Fin Loto */

/*  Loto2*/
.reel {
  width: 200px;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.reel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
}

.spin-button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}


.block {
  display: block;
}

.none {
  display: none;
}

.container_cage {
  /* margin: 100px; */
  display: flex;
  justify-content: center;
  margin: 0;
}

.container_cage img {
  width: 150px;
  height: 100px;
  margin: 0 35px;

}

.spin-button {
  padding: 20px;
  background-color: var(--green);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: normal;
}

#bonne_chance {
  color: #2c3138 !important;

}


/*  Fin Loto2*/
#container_fete_des_mere h1 {
  padding: 0 10px;
  text-align: center;
}

#container_fete_des_mere {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img_fete_des_mere {
  width: 300px !important;
  height: 300px !important;
  border-radius: 30% !important;
}


/* *************************************************************************************************************************** */
/* ************************************************************ */

/* Début_MEDIA QUERIES **********************************1024px */

@media (max-width:1024px) {

  .message {
    position: absolute;
    padding: 2px 20px 4px 10px;
    top: 340px;
    font-size: 0.8em;
    display: block;
    background-color: var(--green);
    color: var(--white);
    border-radius: 3px;
  }


  #nav_bar {
    position: absolute;
    top: -75px;
    height: 58px;
    padding: 10px;
    padding-right: 30px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    color: var(--white);
    font-size: 14px;

  }

  #nav_bar>a {
    margin-left: 30px;
  }

  .myIframe {
    width: 90vw;
    height: 400px;
    margin-bottom: 20px;
  }


  #btn_scrole {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 30px;

  }


}

/* Articles Blog ***********************************/
#container_blog {
  width: 95%;
  margin-left: 2.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--green);
  padding: 0;
  margin-bottom: 100px;
  border-radius: 5px;


}

#container_blog>p {
  background-color: var(--primary-light);
  padding: 20px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;

}

#container_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



}

#article img {
  width: 40vw;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
}

#article>p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 30px 20px;
  font-weight: bold;
}

/*  Loto2*/
.container_cage img {
  width: 110px;
  height: 90px;
  margin: 0 20px;

}

.reel-container {
  margin-top: 50px;
}

.reel {
  width: 125px;
  height: 100px;

  margin-right: 20px;
}


/* Fin Articles Blog ***********************************/

/* Début_MEDIA QUERIES **********************************768px */

@media (max-width:768px) {

  .message {
    position: absolute;
    padding: 2px 20px 4px 10px;
    top: 275px;
    font-size: 0.8em;
    display: block;
    background-color: var(--green);
    color: var(--white);
    border-radius: 3px;
  }

  .nArticles {
    position: absolute;
    padding: 2px 5px 4px 5px;
    top: 48px;
    right: 17px;
    font-size: 0.7em;
    display: block;
    background-color: var(--green);
    color: var(--white);
    border-radius: 3px;
    z-index: 10;
  }

  .erreur {
    position: absolute;
    left: 3px;
    top: 280px;
    padding: 1px 5px;
    font-size: 0.9em;
    border-radius: 5px;
    display: block;
    background-color: rgb(237, 210, 229);
    color: rgb(203, 28, 128);
  }

  #div_nav {
    display: block;
  }




  #img_logo {
    width: 60px;
    height: 60px;
  }

  #lafleur h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-left: 3vw;
  }


  #div_connexion {
    position: absolute;
    padding: 2px 2px;
    top: 90px;
    right: 10px;
  }

  #nav_right {
    /* background-color: red; */
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    width: 200px;
    height: 160px;
    display: flex;

  }

  #nav_right span {
    font-size: 10px;

  }

  .input_deconnexion {
    position: absolute;
    left: 5px;
  }

  #panier_marron {
    position: absolute;
    right: 25px;
    top: 50px;
    width: 30px;
    height: 30px;
  }

  header {
    height: 120px;
  }



  /* Burger Menu */
  #nav_bar {
    display: none;
  }

  .banniere h1 {
    font-size: 40px;
    text-align: center;
  }

  .remerciement {
    font-size: 40px;
    text-align: center;
    color: var(--primary-light) !important;
  }

  .box {
    position: absolute;
    top: -110px;
    right: 0px;
  }

  .cont-lignes {
    width: 60px;
    height: 42px;
    cursor: pointer;
    margin-left: 20px;

  }

  .lignes {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  .lignes:nth-child(1) {
    top: 5px;
    margin-left: -50px;
  }

  .lignes:nth-child(2) {
    top: 15px;
    margin-left: -50px;
  }

  .lignes:nth-child(3) {
    top: 25px;
    margin-left: -50px;
  }

  .btn1.active .lignes:nth-child(1) {
    top: 18px;
    transform: rotate(45deg);
    width: 20px;
  }

  .btn1.active .lignes:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }

  .btn1.active .lignes:nth-child(3) {
    top: 18px;
    transform: rotate(-45deg);
    width: 20px;

  }

  nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "div_nav_flex burger";
  }

  .list_nav {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    /* margin-top: 220px; */
  }

  .bar1 {
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    color: var(--secondary-light);
    text-align: center;
    padding: 5px 10px;
  }

  .bar2,
  .bar3 {
    background-color: var(--primary-color);
    border-radius: 0 0;
    color: var(--secondary-light);
    text-align: center;
    padding: 5px 10px;
  }

  .bar4 {
    background-color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    color: var(--secondary-light);
    text-align: center;
    padding: 5px 10px;
  }

  .div_nav_flex {
    grid-area: div_nav_flex;
    margin-right: 10vw;
  }

  .box {
    grid-area: burger;
  }

  .smallScreen {
    display: none;
  }

  .bye:hover {
    display: block;
    background-color: var(--primary-light) !important;
    color: var(--primary-color);
  }

  a {
    font-size: 1em;
  }

  /* Fin Burger Menu */

  .info_compte {
    width: 340px;
  }

  .titres_compte {
    font-size: 16px;
  }

  #modifier_info {
    font-size: 14px;
  }


  #footer_container>div {
    font-size: 14px;
  }

  .propos,
  #livraison,
  .contacter {

    font-size: 18px;
  }

  #livraison {
    margin-top: 30px;
  }

  .message_inscription {
    font-size: 16px;
  }


  .qui_somme_nous,
  .notre_engagement {
    font-size: 14px;
    text-align: center;
  }

  /* .container_paiement {
    transform: scale(0.9, 0.9);
  } */
  .container_paiement {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    border-radius: 10px;
    opacity: 100%;
    box-shadow: 2px 2px 2px 2px var(--green);
    /* pointer-events: none; */
  }

  #container_livraison {
    padding-left: 20px !important;
  }


  #date_livraison_progamme {
    width: 120px;
  }

  .container_paiement p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .container_btn_inscription {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }

  .container_btn {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }

  .btn_modif {
    width: 80%;
    flex-direction: row;
  }

  #modifier_info {
    margin-right: 90px;
  }

  #container_modifier_info {
    border: none;
  }

  #modifier_panier {
    top: 840px;
    left: 120px;


  }

  .table_commande {
    font-size: 9.5px;
  }

  .table_commande {
    width: 100%;
    margin-bottom: 20px;
  }

  .table_commande_ligne {
    padding: 3px;
    text-align: center;
  }




  .container_loto h1 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .container_loto p {
    font-size: 14px;
    padding: 15px;
  }

  #reseaux_sociaux {
    margin-left: 25px;
    margin-top: 25px;
  }


  /* Articles blog */
  #article img {
    width: 60vw;
  }

  #article>p {
    margin: 0px 0 30px 0px;
    font-size: 12px;
  }


  .btn_se_connecter {
    padding: 10px;

    font-size: 12px;

  }

  /*  Loto2*/
  .container_cage img {
    width: 60px;
    height: 50px;
    margin: 0 5px;

  }

  .reel-container {
    margin-top: 80px;
  }

  .reel {
    width: 45px;
    height: 100px;

    margin-right: 20px;
  }


  .reel img {
    width: 20px;
    height: 20px;
  }

  #bonne_chance {
    color: #2c3138 !important;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
  }



}




/* Fin Articles Blog ***********************************/

/* Début_MEDIA QUERIES **********************************368px */

@media (max-width:368px) {

  /*  Loto2*/
  .container_cage img {
    width: 60px;
    height: 50px;
    margin: 0 5px;

  }

  .reel-container {
    margin-top: 80px;
  }

  .reel {
    width: 45px;
    height: 100px;

    margin-right: 20px;
  }


  .reel img {
    width: 20px;
    height: 20px;
  }

  #bonne_chance {
    color: #2c3138;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
  }

  .box {
    position: absolute;
    top: -110px;
    right: 0px;
  }

  .cont-lignes {
    width: 60px;
    height: 42px;
    cursor: pointer;
    margin-left: 20px;
  }

  #logo_reseaux_sociaux {
    width: 244px;

    border-radius: 4px;
    padding: 10px;
    margin-left: 0px;

  }

  #reseaux_sociaux {
    padding-left: 0;

  }
}