/* import */

@import url("https://fonts.cdnfonts.com/css/courgette");
@import url('https://fonts.cdnfonts.com/css/hind-jalandhar');
@import url("https://fonts.cdnfonts.com/css/inter");

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* fin reset CSS */

/* *************************************************************************************************************************** */

/* start Variables */

:root {
  --primary-color: #2C3138;
  --primary-light: #C1E39E;
  /* --primary-dark: #82514e; */
  --secondary-color: #78504F;
  --secondary-light: #D9D9D9;
  /* --secondary-dark: #14205a; */
  --green: #31583F;
  --white: #FFFFFF;
}

/* end Variables / Import */

/* *************************************************************************************************************************** */

/* start Version Desktop */

/* général */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courgette", sans-serif;
}

span {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "hind-jalandhar", sans-serif;
}

/* message */

/* 
.message {
  position: absolute;
  top: 350px;
  font-size: 1em;
  display: block;
} */

/* .erreur {
  position: absolute;
  top: 400px;
  font-size: 1em;
  display: block;
} */

.erreur ul {
  list-style: none;
}

.erreur {
  position: absolute;
  left: 8px;
  top: 363px;
  padding: 3px 20px;
  font-size: 1em;
  display: block;
  background-color: rgb(237, 210, 229);
  color: rgb(203, 28, 128);
}
/* .container_message{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.message {
  position: absolute;
  padding: 2px 20px;
  top: 340px;
  font-size: 1em;
  display: block;
  background-color: var(--primary-light);
  color: var(--secondary-color);
}
.messagePanierVide {
  position: absolute;
  padding: 2px 20px;
  top: 363px;
  font-size: 1em;
  display: block;
  background-color: var(--secondary-light);
  color: var(--secondary-color);
}

/* Fin message */


/* *************************************************************************************************************************** */

/* header */
header {
  padding: 10px;
  margin: 0 !important;
  width: 100%;
  height: 180px;
  background-color: var(--primary-light);
  display: flex;
  justify-content: space-between;
}

header img {
  width: 90px;
  height: 87px;
  z-index: 10;
}

#lafleur {
  padding-left: 13vw;
  padding-top: 15px;
}

header h1 {
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: var(--green);
  z-index: 0;
}

#nav_right {
  padding-right: 20px;
  width: 270px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  font-size: 0.8em;

}

#loop {
  width: 20px;
  height: 20px;
  margin-right: -10px;
}

#panier_marron {
  width: 30px;
  height: 28px;
  margin-bottom: 5px;
}


/* Fin header */

/* *************************************************************************************************************************** */

/* navigation */

#navigation {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nav_bar {
  position: absolute;
  top: -75px;
  height: 58px;
  padding: 20px;
  padding-right: 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  color: var(--white);
  font-size: 20px;

}

#nav_bar>a {
  margin-left: 30px;
}

.ligne_banniere {
  width: 100%;
  height: 3px;
  background-color: var(--green);
  margin-bottom: 4px;
}

.image_banniere {
  width: 100%;
  height: 150px;
  margin-bottom: 0;
  margin-bottom: 50px;
}

.banniere {
  width: 100%;
  height: 150px;
  color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  /* background-image: url(../assets/img/amour/baniere_amour.jpg); */
  margin-bottom: 20px;
}

#container_recherche_couleur {
  /* position: absolute; */
  top: 170px;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

#recherche_couleur {
  width: 400px;
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#rechercher_par_couleur {
  width: 170px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
  font-size: 14px;

}

.rechercher_couleur {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#recherche_couleur1 {
  background-color: red;
}

#recherche_couleur2 {
  background-color: white;
  border: 1px solid var(--primary-light);

}

#recherche_couleur3 {
  background-color: violet;
}

#recherche_couleur4 {
  background-color: yellow;
}

#recherche_couleur5 {
  background-color: var(--primary-light);
}

/* Fin navigation */

/* *************************************************************************************************************************** */

/* Footer */

#topBtn {

  display: none;
  position: fixed;
  width: 50px;
  bottom: 10px;
  right: 3px;
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#topBtn:hover {
  transform: scale(1, 1.2);
}

#btn_scrole {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px 30px;
}

#devise {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  color: var(--primary-color);
  padding: 0 10px;
}

#footer_container {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#a_propos,
#nous_contacter {
  width: 300px;
  height: 170px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--primary-color);
}

.propos {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

#reseaux_sociaux {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

#logo_reseaux_sociaux {
  width: 244px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--white);
  border-radius: 4px;
  padding: 10px;
}

#logo_reseaux_sociaux img {
  width: 35px;
}

#livraison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 30px;
}

.contacter {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#telephone {
  width: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.numero_telephone {
  margin-top: 10px;
}


/* Fin Footer */
/* *************************************************************************************************************************** */
/* Début_Page d'erreur */

.body_error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#message_error {
  width: 650px;
  height: 400px;
  background-image: url(../assets/img/error_404.jpg);
  background-size: cover;
  margin: 20px;
  padding-bottom: 50px;
  padding-top: 70px;
  color: rgb(170, 65, 65);
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  box-sizing: content-box;
}

.go_back {
  margin-top: 130px;
}

.go_back a {
  text-decoration: underline;
}

/* Fin_Page d'erreur */
/* *************************************************************************************************************************** */

/* Accueil */
#container_all_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#container_article {
  /* width: 270px; */
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;

}

#image_article {
  width: 260px;
  height: 260px;

  border: 1px solid var(--primary-light);

}

#description_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  color: var(--green);
  font-weight: bold;

}

#prix_panier {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 100px;
  font-weight: normal;
}

#prix_panier>a {
  margin-left: 40px;
  margin-bottom: 0px;
}


/* Fin Accueil */

/* *************************************************************************************************************************** */
/*  Connexion */
#connexion,
#compte,
#apropos,
.apropos,
#livraison,
#panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container_connexion {
  width: 90%;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn_se_connecter {
  width: 125px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-light);
  border: none;
  color: var(--green);
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn_valide_livraison,
.btn_valide_facturation {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-light);
  border: none;
  color: var(--green);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.btn_annuler_livraison,
.btn_annuler_facturation,
.btn_annuler_payement {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--secondary-light);
  border: none;
  color: var(--green);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#container_inscription {
  width: 90%;
  margin-top: 5px;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #F7F9F3;
}

.message_inscription {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 40px 0px;
}

#container_formaulaire_inscription {
  width: 90%;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#container_formaulaire_inscription_left,
#container_formaulaire_inscription_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#formaulaire_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_connexion {
  width: 180px;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-size: 16px;
}

.input_connexion {
  width: 250px;
  height: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 5px;

}

.input_identification {
  border: 1px solid var(--primary-light);
}

.container_btn_inscription {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 130px;
}

/* #btn_valide_inscription {
  width: 80px;
  height: 25px;
  margin-right: 100px;
}

#btn_annuler_inscription {
  width: 80px;
  height: 25px;
  background-color: var(--secondary-light);
} */

/*  Fin Connexion */

/* *************************************************************************************************************************** */
/*  Compte client */
#container_compte,
#container_apropos,
#container_livraison {
  width: 90%;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.titres_compte {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--secondary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}

#container_info_compte {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info_compte {
  width: 540px;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 2;
}

.info_compte_info {
  width: 100px;
  font-weight: bold;
}

.info_compte_info_cp {
  width: 125px;
  font-weight: bold;

}

.info_compte_ligne {
  display: flex;
}

#ligne_info_compte {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  margin: 20px;
}

#modifier_info {
  height: 52px;
  background-color: var(--secondary-light);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.modifier_info_input {
  width: 340px;
  background-color: var(--secondary-light);
  border: none;
}


.table_commande {
  width: 100%;
  margin-bottom: 100px;
}

.table_commande_ligne {
  padding: 10px;
  text-align: center;
}

.table_commande_entete {
  font-weight: bold;
}

/*  Fin Compte client */

/* *************************************************************************************************************************** */
/*  Nous contacter */




.container_contacte {
  margin-top: 100px;
}

#formulaire_contact {
  width: 90%;
}

textarea#message_contacte {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 20px;
  resize: vertical;
}




.test {
  margin-left: 11vw;
}

.message_contacte_label {
  width: 90%;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#container_btn_contacte {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.btn_envoyer {
  width: 100px;
  height: 30px;
  margin-right: 90px;
  margin-bottom: 20px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn_annuler_envoyer {
  width: 100px;

  height: 30px;
  background-color: var(--secondary-light);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Fin Nous contacter */
/* *************************************************************************************************************************** */
/*  À propos */


.titres_apropos {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--secondary-light);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;

}


.qui_somme_nous {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  padding: 30px 40px;
}

.notre_engagement {
  font-size: 20px;
  line-height: 2;
  font-family: "hind-jalandhar", sans-serif;
}



.myIframe {
  width: 70vw;
  height: 500px;
  border: 5px ridge var(--primary-color);
  margin-bottom: 50px;
}

.zone_livraison {
  width: 100%;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Fin À propos */
/* *************************************************************************************************************************** */
/*  Panier */

#container_panier {
  width: 90%;
  background-color: #F7F9F3;
  border: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

#valide_mon_panier {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
  padding: 20px 10px;
}

.valide_articles {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F7F9F3;
  padding-top: 0;

}

.container_paiement {
  /* width: 60%; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 10px;
  border-radius: 10px;
  opacity: 50%;
  pointer-events: none;
}

.container_paiement p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.adresse_facturation {
  width: 100%;
  text-align: center;

}

.info_paiement {
  width: 90%;
  padding: 10px 0px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--primary-light);
  margin-bottom: 0;
  font-size: 16px !important;
}

.somme_total {
  background-color: var(--secondary-light);
}

.je_valide {
  background-color: var(--primary-light);
  cursor: pointer;

}

.btn_valide_payement {
  width: 190px;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  margin-right: 3px;
  border-radius: 5px;
}

.container_loto {
  width: 90%;
  background-color: var(--primary-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;

}

.container_loto h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.container_loto p {
  font-size: 20px;
  background-color: var(--green);
  padding: 15px;
  border-radius: 5px;
  color: var(--white);

}

/*  Fin Panier */

/* *************************************************************************************************************************** */
/*  Loto */
.bd {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 266px;
}

.slot-wrapper {
  border: 1px solid #000000;
}

.slot {
  background: url("../assets/img/reel_normal.png") repeat-y;
  /*Taken from http://www.swish-designs.co.uk*/
  width: 86px;
  height: 70px;
  float: left;
  border: 1px solid #000;
  background-position: 0 4px;
}

.motion {
  background: url("../assets/img/reel_blur.png") repeat-y;
  /*Taken from http://www.swish-designs.co.uk*/
}

button {
  display: block;
  background-color: var(--primary-light);
  width: 150px;
  padding: 10px;
  height: 43px;
  margin: 20px 60px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
}

.credits {
  font-size: 15px;
  margin-top: 20px;
}

.credits .browsers {
  font-style: italic;
  font-size: 14px;
  color: #777;
  margin-top: 4px;
}

.clear {
  clear: both;
}

/*  Fin Loto */

/* *************************************************************************************************************************** */
/* ************************************************************ */
@media (max-width:768px) {
  .info_compte {
    width: 340px;
  }

  .titres_compte {
    font-size: 16px;
  }

  #modifier_info {
    font-size: 14px;
  }





  .message_inscription {
    font-size: 16px;
  }


  .qui_somme_nous,
  .notre_engagement {
    font-size: 14px;
    text-align: center;
  }

  .container_paiement {
    transform: scale(0.7, 0.7);
  }

  .container_btn_inscription {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }

  /* 
  .container_loto{
    margin-top: 0;
  }

  .container_paiement{
    margin-bottom: 0;
  } */

  .container_loto h1 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .container_loto p {
    font-size: 14px;
    padding: 15px;
  }
}